 body 
{
    background-color:cyan;
}
.box
{
    height: 650px;
    width: 400px;
    background-color: bisque;
    color: rgb(139, 45, 86);
    padding: 20px;
    margin: 30px auto;
    border: 3px solid rgb(255, 150, 194);
    border-radius: 10px;
}
.box h1
{
    border-bottom:2px solid rgb(139, 45, 86);
}
.box spam
{
    background:yellow;
}
.quote 
{
    background: rgb(229, 102, 160);
    padding: 20px;
    border-left: 5px solid rgb(164, 58, 97);
    margin: 50px 0;
    text-align: center;
 }

.author
{
    display: flex;
    gap: 15px;
    background: rgb(226, 178, 208);
    padding: 5px;
    margin-top: 60px;
    border-radius: 5px;
}
.author b
{
    color: rgb(243, 243, 243);
}
.author img
{
    width: 50px;
    height: 80px;
    border-radius: 5px;
}
.footer
{
    background: rgb(0, 2, 65);
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    border-radius: 5px;
}